@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Comforter&family=Comforter+Brush&family=Mochiy+Pop+P+One&family=Source+Code+Pro:ital,wght@1,300&display=swap');
body{
    font-family: 'Cabin', sans-serif;;
    background-color:#dbd5d5;
   
}
nav .navbar-nav li a{
    color:#330000 !important;
}
nav .navbar-nav li a:hover{
    color:	yellow !important;
}

.card{
    width: 100%;
    background-color:#dbd5d5 ;
    border: 0px;
}
.card img{
    border-radius: 5%;
    width: 80%;
    margin-left: 10%;
}
.card-title{
    color: #330000;
}
p{
    color: #330000;
}
.card-text{
    color: black;
}
h2{
    color: #330000;
    text-align: center;
}
.footer-list{
    list-style: none;
}
footer{
    background-color: #545252;
}
footer h2{
    color:#330000;
    
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #fff200;
}