@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Comforter&family=Comforter+Brush&family=Mochiy+Pop+P+One&family=Roboto&family=Source+Code+Pro:ital,wght@1,300&display=swap');
body{
    font-family: 'roboto', sans-serif;
    background-color:#fff7f7; 
}
input{
    width: 100%;
}

input{
    margin-top: 5%;
}
h1{
    text-align: center;
    margin-top: 10%;
    margin-right: 15%;
}
.btn{
    background-color: #181818;
    color: white;
}

 